<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_BASE_URL</key>
	<string>https://town.steer.fun</string>
	<key>PINATA_JWT</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiIyNWJkYzBjMi03MzVlLTRiZjItYWM1YS1hMzEyYjhiNDY1NmMiLCJlbWFpbCI6ImRhdmlkQG1vZHByb3RvY29sLm9yZyIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6IkZSQTEifSx7ImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxLCJpZCI6Ik5ZQzEifV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2UsInN0YXR1cyI6IkFDVElWRSJ9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiJlZDRlMGNmM2Y1Y2EwZTEwNjI2MCIsInNjb3BlZEtleVNlY3JldCI6IjFlNTQzNmRhOGIxY2FjY2JlMTlhZDVjMzZhNzU0YzY4NGE1MWJhNzVhNjljZDhiYTU5ZDY2MzA0YzllMmVjY2EiLCJleHAiOjE3ODAzODQ4NjN9.6qBiUS7Qbn44riANqCkflIXWhZzz3v_7sQeSR084xAI</string>
	<key>PINATA_GATEWAY_URL</key>
	<string>amber-electoral-takin-876.mypinata.cloud</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLIconFile</key>
			<string>ecp-client</string>
			<key>CFBundleURLName</key>
			<string>ecp-client</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ecp-client</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
